<div class="container">
  <div class="d-flex col-12 justify-content-md-center text-center">
    <h1>
      Link shortening successful! Visit your website at <a target="_blank" href="/{{{shortUrl}}}">{{{hostname}}}/{{{shortUrl}}}</a>
    </h1>
  </div>
</div>
